.erp_page_settings h1{
    border-bottom: 1px solid #CCCCCC;
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
    padding: 0 0 10px;
}
#erp_setting table tr th {
    width: 50%;
}
#erp_setting table tr th, #erp_setting table tr td {
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    line-height: 22px;
    padding: 4px 10px 0;
}
#erp_setting table tr td{
    border-right: medium none;
}
h3.ertp_check_site{
    background: #E4E4E4;
    border: 1px solid #ccc;
    padding: 10px 0px;
    text-align: center;
    width: 190px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
h3.ertp_check_site a{
    color: #474747;
    text-decoration: none;
    font-size: 16px;
}